  /* global.css */
  @font-face {
    font-family: 'MaShanZheng';
    src: url('./assets/font/MaShanZheng-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'AaMeiRenZhuan';
    src: url('./assets/font/AaMeiRenZhuan（JianFan）-2.ttf') format('truetype');
  }

  body {
    font-family: 'MaShanZheng', sans-serif;
    background-color: #FCFCFA;
  }


  /* intro.css */
  .intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }

  .github-link {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    color:#666;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
  .github-icon {
    width: 40px;
    height: 40px;
    opacity: 0.8;
    margin: 10px;
  }

  .dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .dialog {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 80%;
    line-height: 1.5;
  }
  
  .dialog button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #9C755F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'MaShanZheng', sans-serif;
    font-size: 20px;
  }
  
  .dialog button:hover {
    background: #8FBFBF;
  }
  
  .intro-header h1 {
    font-size: 2.5rem; /* 放大英文标题 */
    font-weight: bold;
    margin: 0;
  }
  
  .intro-main h2 {
    font-size: 5rem; /* 放大中文标题 */
    font-weight: bold;
    margin: 60px 0 40px 0;
    color:#333
  }
  
  .intro-main p {
    font-size: 2rem;
    margin: 10px 0 20px 0;
    font-family: 'Times New Roman', Times, serif ;
    color:#666
  }
  
  .intro-buttons .quiz-button {
    padding: 10px 20px;
    font-size: 2rem;
    font-family: 'MaShanZheng', sans-serif;
    background-color: #7F6556;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 60px;
  }
  
  .intro-footer p {
    margin: 20px 0 0 0;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .intro-footer p a {
    text-decoration: none;
    color: #7F6556;
  }
  
  .image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .background-image {
    position: absolute;
    opacity: 0.1; /* Adjust the opacity as needed */
  }
  
  /* Specific positions and sizes for each image */
  #img1 {
    top: 10%;
    left: 15%;
    width: 12%;
    animation: float1 4s ease-in-out infinite;
  }
  
  #img2 {
    top: 57%;
    left: 30%;
    width: 12%;
    animation: float2 4s ease-in-out infinite;
  }
  
  #img3 {
    top: 50%;
    left: 80%;
    width: 10%;
    animation: float3 4s ease-in-out infinite;
  }
  
  #img4 {
    top: 70%;
    left: 10%;
    width: 10%;
    animation: float4 4s ease-in-out infinite;
  }
  
  #img5 {
    top: 10%;
    left: 70%;
    width: 15%;
    animation: float5 4s ease-in-out infinite;
  }
  
  #img6 {
    top: 70%;
    left: 60%;
    width: 10%;
    animation: float6 4s ease-in-out infinite;
  }

  #img7 {
    top: 45%;
    left: 0%;
    width: 18%;
    animation: float6 4s ease-in-out infinite;
  }

  #img8 {
    top: 15%;
    left: 90%;
    width: 18%;
    animation: float6 4s ease-in-out infinite;
  }
    
/* Float animations for different distances */
@keyframes float1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float4 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float6 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}  

@keyframes float7 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
} 

@keyframes float8 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
} 

  /* directory.css */
  .directory-container {
    display: flex;
    justify-content: center;
    align-items: center; /* 居中对齐 */
    height: 80%;
    width: 100%;
    background-color: #F2F1ED;
    color: #666;
  }
  
  .vertical-text {
    padding-top: 100px;
    display: flex;
    flex-direction: row; /* 使四个标题横向排列 */
  }
  
  .vertical-text div {
    writing-mode: vertical-rl; /* 竖向排列 */
    font-size: 2rem;
    margin: 0 2rem; /* 增加横向间距 */
  }
  
  /* overview.css */
  .overview-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px 0 300px;
    height:100%;
  }
  
  .overview-content {
    width: 55%;
  }
  
  .overview-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:#333;
  }
  
  .overview-content p {
    font-size: 1.25rem;
    line-height: 1.5;
    color:#666;
  }
  
  .image-matrix {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .image-matrix img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease; /* 添加过渡效果 */
  }
  
  .image-matrix img:hover {
    transform: scale(1.5); /* 鼠标悬停时放大 */
  }
  
  


  /* story.css */
  .story-intro-section {
    border-radius: 8px;
    padding: 40px 400px 40px 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .story-content h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .story-content p {
    font-size: 1.25rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .story-content h1 {
      font-size: 2rem;
    }
  
    .story-content p {
      font-size: 1rem;
    }
  }

  .scroll-down-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem; /* 变大 */
    transform: rotate(90deg); /* 旋转90度 */
    color: #D5CFCB;
    margin-top: 100px;
  }
  
  /* map.css */
  .Map {
    text-align: center;
    width: 60%;
  }
  
  .tableauPlaceholder {
    margin: 0 auto;
    border: 1px solid #ccc;
  }

  .sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-button {
    width: 40px;
    height: 40px;
    margin: 40px;
    border-radius: 50%;
    background-color: transparent;
    color: #9C755F; /* 示例颜色 */
    font-size: 18px;
    border: 2px solid #9C755F; /* 边框颜色 */
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  .nav-button.active {
    background-color: #9C755F; /* 活动状态颜色 */
    color: white;
  }

  .nav-button:hover {
    background-color: #8FBFBF; /* 活动状态颜色 */
    border: 2px solid #8FBFBF; /* 边框颜色 */
    color: white;
  }
  
  .section {
    height: 100vh; /* 每个部分占据整个视口高度 */
  }
  
  .echarts-series-tree .node-image {
    border-radius: 50%;
    border: 2px solid #fff;
  }

  /* reference.css */
  .reference-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #F2F1ED;
  }
  
  .reference-container h2 {
    font-size: 3rem;
    margin-bottom: 60px;
    color: #333;
  }
  
  .reference-list {
    list-style-type: none;
    padding: 0;
    width: 80%;
  }
  
  .reference-item {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .reference-item a {
    text-decoration: none;
    color: #9C755F;
    font-size: 1.25rem;
  }
  
  .reference-item a:hover {
    text-decoration: underline;
  }


.download-icon {
  margin-left: 10px;
  text-decoration: none;
}
  
  
  
  